**Write a Python program to convert kilometers to miles?**

In [1]:
a=int(input("Enter the Kilometers you travelled "))
b=a/1.60934
print("Value in miles: {:.2f}".format(b))

Enter the Kilometers you travelled 100
Value in miles: 62.14

**Write a Python program to convert Celsius to Fahrenheit?**

In [2]:
celsius_value = float(input("Enter celsius value "))
# fahrenheit = (celsius * 1.8) + 32  # conversion formula
fahrenheit_value=((celsius_value)* 1.8)+32
print("Value in Fahrenheit: ",fahrenheit_value)

Enter celsius value 39.8
Value in Fahrenheit:  103.64

**Write a Python program to display calendar?**

In [3]:
import calendar
year=int(input("Enter the year "))
print(calendar.calendar(year))

Enter the year 2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

**Write a Python program to solve quadratic equation?**

In [4]:
import cmath

a =float(input("Enter the coefficient of x**2: "))
b =float(input("Enter the coefficient of x: "))
c =float(input("Enter the constant value: "))
d = (b**2) - (4*a*c) # finding the discriminant  value

first_root  = (-b-cmath.sqrt(d))/(2*a)
second_root = (-b+cmath.sqrt(d))/(2*a)

print('The roots of the quadratic equataion  are {0} and {1}'.format(first_root,second_root))

Enter the coefficient of x**2: 2
Enter the coefficient of x: 4
Enter the constant value: 6
The roots of the quadratic equataion  are (-1-1.4142135623730951j) and (-1+1.4142135623730951j)

**Write a Python program to swap two variables without temp variable?**

In [5]:
# swaping two integer variables:

x=int(input("Enter the first variable "))
y=int(input("Enter the second variable "))
x = x * y
y = x / y
x = x / y
print("After swaping the value of first variable is ",int(x))
print("After swaping the value of second variable is ",int(y))

Enter the first variable 10
Enter the second variable 20
After swaping the value of first variable is  20
After swaping the value of second variable is  10