**Write a Python program to find sum of elements in list?**

In [14]:
a=[1,2,3,4,5,6,7,8,9]
b=0
for i in a:
  b=b+i
print("The sum of elements in list is: ",b)

45

**Write a Python program to Multiply all numbers in the list?**

In [15]:
a=[1,2,3,4,5,6,7,8,9]
b=1
for i in a:
  b=b*i
print("The multiplication of elements in list is: ",b)

The multiplication of elements in list is:  362880

**Write a Python program to find smallest number in a list?**

In [6]:
a=[11,43,13,62,79,6,24,11]
a.sort()
print("Smallest number in a list is :",a[0])

Smallest number in a list  6

**Write a Python program to find largest number in a list?**

In [8]:
a=[11,43,13,62,79,6,24,11]
a.sort(reverse=True)
print("Largest number in a list is : ",a[0])

Largest number in a list is :  79

**Write a Python program to find second largest number in a list?**

In [9]:
a=[11,43,13,62,79,6,24,11]
a.sort(reverse=True)
print("Second largest number in a list is :",a[1])

Second largest number in a list is : 62

**Write a Python program to find N largest elements from a list?**

In [11]:
b=int(input("Enter input value "))
a=[11,43,13,62,79,6,24,11]
a.sort(reverse=True)
print("%d largest element from a list is :"%b,a[b-1])

Enter input value 2
2 largest elements from a list is : 62

**Write a Python program to print even numbers in a list?**

In [12]:
a=[11,43,13,62,79,6,24,11]
print("Even numbers of list are: ",end=" ")
for i in a:
  if i%2==0:
    print(i,end=" ")

Even numbers of list are:  62 6 24

**Write a Python program to print odd numbers in a List?**

In [13]:
a=[11,43,13,62,79,6,24,11]
print("Odd numbers of list are: ",end=" ")
for i in a:
  if i%2 != 0:
    print(i,end=" ")

Odd numbers of list are:  11 43 13 79 11

**Write a Python program to Remove empty List from List?**

In [32]:
a=[[1,2,3],[11,22,33],[]]
for i in range(len(a)):
  if(len(a[i])==0):
    del a[i]
print(a)

[[1, 2, 3], [11, 22, 33]]

**Write a Python program to Cloning or Copying a list?**

In [35]:
a=[11,43,13,62,79,6,24,11]
b=[]
b.extend(a)
print(b)

[11, 43, 13, 62, 79, 6, 24, 11]

**Write a Python program to Count occurrences of an element in a list?**

In [4]:
a=[11,43,43,6,24,43,11,6,43,13,62,79,6,24,11]
b=set(a)
c=[]
a1=list(b)
for i in a1:
  b2=a.count(i)
  b1=(i,b2)
  c.append(b1)
print("Occurrences of an element in a list are ",c)

Occurrences of an element in a list are  [(6, 3), (43, 4), (11, 3), (13, 1), (79, 1), (24, 2), (62, 1)]