**Write a Python Program to Find the Factorial of a Number?**

In [1]:
a=int(input("Enter the number "))
b=1
for i in range(1,a+1):
  b=b*i
print("The factorial of a given number is ",b)

Enter the number 5
The factorial of a given number is  120

**Write a Python Program to Display the multiplication Table?**

In [2]:
a=int(input("Enter the value "))
for i in range(1,11):
  print(a,"*",i,"=",a*i)

Enter the value 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**Write a Python Program to Print the Fibonacci sequence?**

In [3]:
a=int(input("Enter the number of terms you want "))
a1,a2=0,1
if a<=0:
  print("Please enter a positive number")
elif a==1:
  print("The Fibonacci sequence up to %d is : "%a,a1)
else:
  print("The Fibonacci sequence is ",end="")
  while a>0:
    print(a1,end=" ")
    f=a1+a2
    a1=a2
    a2=f
    a-=1

Enter the number of terms you want 5
The Fibonacci sequence is 0 1 1 2 3

**Write a Python Program to Check Armstrong Number?**

In [4]:
a=int(input("Enter the number "))
s=a
b=0;
while a>0:
  c=a%10
  d=c**3
  b=b+d
  a=a//10
if(s==b):
  print("Armstrong Number ")
else:
  print("Not a Armstrong Number")

Enter the number 407
Armstrong Number

**Write a Python Program to Find Armstrong Number in an Interval?**

In [5]:
a1=int(input("Enter the Interval starting number "))
b1=int(input("Enter the Interval Ending number "))
c1=[]
for i in range(a1,b1+1):
  s=i
  b=0;
  while i>0:
    c=i%10
    d=c**3
    b=b+d
    i=i//10
  if(s==b):
    c1.append(s)
  b=0
print("The Armstrong Numbers in interval %d, %d is: "%(a1,b1),c1)

Enter the Interval starting number 100
Enter the Interval Ending number 500
The Armstrong Numbers in interval 100, 500 is:  [153, 370, 371, 407]

**Write a Python Program to Find the Sum of Natural Numbers?**

In [6]:
a=int(input("Enter a number "))
if(a<=0):
  print("Enter positive number ")
else:
  b=0;
  while(a>0):
    b=b+a
    a=a-1
print("The sum of Natural Numbers is: ",b)

Enter a number 10
The sum of Natural Numbers is:  55